:root {
  --bg_white: #FFFFFF;
  --text_color: #222222;
  --primary: #17CF97;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #ffffffdc;
}

body::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  max-width: 1440px;
  min-height: 50px;
  height: max-content;
  background-color: var(--bg_white);
  box-sizing: border-box;
  margin: 0 auto;
}


.nav-wrapper {
  width: inherit;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
}

.nav-brand {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-brand img {
  width: 40px;
  height: auto;
}

.nav-brand span {
  font-size: 1.75rem;
  margin-left: 8px;
}

.navbar {
  width: max-content;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1.2rem;
  color: var(--text_color) !important;
  text-decoration: none;
  outline: none;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.nav-link.active {
  color: var(--primary) !important;
}

.nav-link:last-child {
  background: var(--primary);
  color: #FFFFFF !important;
  font-size: 1.2rem;
  padding: 8px 24px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.nav-link:hover {
  color: var(--primary) !important;
}

.nav-link:not(:first-child) {
  margin-left: 4rem;
}


.hero-wrapper {
  width: inherit;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background: linear-gradient(#17CF97, #17CF67);
}

.hero-wrapper h2 {
  font-size: 2.75rem;
  color: #FFFFFF;
  margin: 0;
  line-height: 100%;
  letter-spacing: 0.2px;
}

.hero-wrapper p {
  color: #FFFFFF;
  max-width: 720px;
  text-align: center;
}

.user-wrapper {
  width: inherit;
  height: max-content;
  padding: 0 24px;
  box-sizing: border-box;
}

.user-wrapper .user-nav {
  min-height: 50px;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
}

.search-wrapper {
  position: relative;
  height: 56px;
  display: flex;
  width: 480px;
  align-items: center;
}

.search-wrapper input[type=text] {
  outline: none;
  box-shadow: none;
  border: solid 1px #e2e2e2;
  padding: 8px 8px 8px 24px;
  height: 40px;
  width: inherit;
  border-radius: 30px 0px 0px 30px;
  box-sizing: border-box;
  -webkit-border-radius: 30px 0px 0px 30px;
  -moz-border-radius: 30px 0px 0px 30px;
  -ms-border-radius: 30px 0px 0px 30px;
  -o-border-radius: 30px 0px 0px 30px;
}

.search-wrapper span {
  font-size: 24px;
  padding: 8px 16px;
  background: var(--primary);
  color: var(--bg_white);
  border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  -ms-border-radius: 0px 30px 30px 0px;
  -o-border-radius: 0px 30px 30px 0px;
}

.user-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.view-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.view-wrapper span {
  font-size: 1.5rem;
  color: #222222;
  padding: 8px;
}

.view-wrapper span.active {
  background-color: #e2e2e2;
}

.view-wrapper span:hover {
  background-color: #e2e2e2;
}

.user-profiles {
  width: inherit;
}

.table-view {
  width: inherit;
  height: max-content;
}


@media only screen and (max-width:768px) {
  
}